/bin/
*.DS_Store
*.sh
!target.sh
/.metadata/
**/.idea/

*.class
/project/.settings/
/project/.classpath
/project/bin/
/project/target/surefire-reports/
/project/doc/
project/.metadata/
/project/target/*/*/README.md
